{% extends 'base.html' %}

{% block title %}Edit {{ table_name.capitalize() }}{% endblock %}

{% block content %}
    <h1>Edit {{ table_name.capitalize() }}</h1>
    <form method="post">
        {% for col_info in columns_info if col_info.name != 'id' %} {# Skip 'id' for edit form display #}
            <label for="{{ col_info.name }}">{{ col_info.name.capitalize() }}:</label><br>
            <textarea id="{{ col_info.name }}" name="{{ col_info.name }}">{{ data_item[col_info.name] }}</textarea> <br><br> {# Basic text input, pre-filled value #}
        {% endfor %}
        <input type="submit" value="Update {{ table_name.capitalize() }}">
    </form>
{% endblock %}