{% extends 'base.html' %}
{% block title %} Recipe Search {% endblock %}
{% block content %}
<h1>Advanced Recipe Search</h1>
<form method="POST">
    <div class="advanced-search-form">
        <input type="text" name="search_query" placeholder="Search Recipes" required>
        <input type="text" name="search_query" placeholder="Search Recipes" required>
        <input type="text" name="search_query" placeholder="Search Recipes" required>
        <input type="text" name="search_query" placeholder="Search Recipes" required>
        <button type="submit">Search</button>
    </div>
</form>
<a class="alt-search" href="{{url_for('recipe_search')}}">basic search</p>

<div class="search-results">
    {% if search_results %}
        <h2>Search Results:</h2>
        <div class="recipe-list">
        {% if search_results == 0 %}
            <h2>No recipes found.</h2>
        {% else %}
            {% for recipe in search_results %}
                <div class="recipe-card">
                    <img src="{{ recipe.mainimage }}" alt="{{ recipe.name }}" width="128" height="128">
                    <h3><a href="{{ url_for('recipe', id=recipe.id) }}">{{ recipe.name}}</a></h3>
                    <p>{{ recipe.description[:250] + "..."}}</p>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}