{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}Upload an Image{% endblock %}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="upload-container">
        <form method="POST" enctype="multipart/form-data" id="upload-form">
            <input type="file" name="file" id="file-input" accept="image/*" required hidden>
            <div id="drop-zone" class="drop-zone">
                <p id="drop-text"> Drag and drop an image to search here, or click to select one.</p>
                <img id="preview"/>
            </div>
            <button type="submit">Upload</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/image_upload.js')}}"></script>
{% endblock %}
