{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Recipes {% endblock %}</h1>
    {% for recipe in recipes %}
        <div class="recipe-card">
            <img src="{{ recipe.mainimage }}" alt="{{ recipe.name }}" width="128" height="128">
            <div class = "recipe-card-content">
                <h3><a href="{{ url_for('recipe', id=recipe.id) }}">{{ recipe.name}}</a></h3>
                <p>{{ recipe.description[:250] + "..."}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}