{% extends 'base.html' %}

{% block content %}
    {% if recipe %}
        <h1>{% block title %} {{ recipe.name }} {% endblock %}</h1>
        <div class="recipe">
            <img src="{{ recipe.mainimage }}" alt="{{ recipe.name }}" width="256" height="256">
            <p><strong>Description:</strong> {{ recipe.description }}</p>
            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
            <h2>Ingredients:</h2>
            <ol>
                {% for ingredient in ingredients %}
                    <li>
                        {% if ingredient.denominator %}
                            <p> {{ ingredient.quantity }}/{{ ingredient.denominator }} {{ ingredient.unit_name }} {{  ingredient.name  }}</p>
                        {% else %}
                            <p>{{ ingredient.quantity }}  {{ ingredient.unit_name }} {{  ingredient.name  }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
            <h2>Steps:</h2>
            <ol>
                {% for step in steps %}
                    <li>
                        <p> {{ step.description }}</p>
                        {% if step.imagelocation %}
                            <img src="{{ step.imagelocation }}" width="256" height="256">
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <h1>Recipe not found</h1>
    {% endif %}
{% endblock %}
