{% extends 'base.html' %}

{% block content %}
    {% if recipe %}
        <h1>{% block title %} {{ recipe.name }} {% endblock %}</h1>
        <div class="recipe">
            {% if recipe.mainimage != "None" %}
                <img src="{{ recipe.mainimage }}" alt="{{ recipe.name }}" width="256" height="256">
            {% endif %}
            <p><strong>Description:</strong> {{ recipe.description }}</p>
            <p><strong>Ingredients:</strong></p>
            {% for ingredient in ingredients %}
                <ul>
                  <li>{{ ingredient.quantity }} {{ ingredient.notation }} {{ ingredient.name }}</li>
                </ul>
            {% endfor %}
            <p><strong>Method:</strong></p>
            {% for step in steps %}
                <ul>
                  <li>
                    <p> {{ step.description }}</p>
                    {% if step.imagelocation %}
                        <img src="{{ step.imagelocation }}" width="256" height="256">
                    {% endif %}
                </li>
                </ul>
            {% endfor %}
            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
        </div>
    {% else %}
        <h1>Recipe not found</h1>
    {% endif %}
{% endblock %}
