.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-form {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    width: 100%;
}

.advanced-search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.recipe-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.recipe-card-content h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.recipe-card-content p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Adjusted to a fixed width */
    background-color: #007BFF;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s;
}

.navbar {
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    background-color: #0056b3; /* Adjusted to a darker blue */
}

.navbar .nav-link:hover {
    color: #0056b3;
}

.nav-link {
    font-size: 1rem;
    color:  white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.2s;
}

.nav-link:hover {
    color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    /* margin: 10px 0; */
    border-radius: 4px;
}

button {
    /* display: block; */
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.alt-search {
    font-size: smaller;
    
}