.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.search-form {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    width: 100%;
}

.advanced-search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    /* margin: 10px 0; */
    border-radius: 4px;
}

button {
    /* display: block; */
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.alt-search {
    font-size: smaller;
    
}