.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-form {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    width: 100%;
}

.advanced-search-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.advanced-search-item {
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

.advanced-search-text {
    margin: 0px;
    color: #363636;
}

.search-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.collapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.recipe-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.recipe-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.recipe-card-content h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.recipe-card-content p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 150px;
    background-color: #0056b3;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* transition: all 0.3s ease-in-out; */
}

.navbar .nav-link {
    margin: 10px 0;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s;
}

.navbar .nav-link:hover {
    color: #007BFF;
}

/* #main-wrapper {
    display: flex;
    flex-direction: row;
} */


@media (max-width: 1300px) {

    #main-wrapper {
        flex-direction: column;
    }
    

    #grid-container{
        grid-column: 2;
        grid-row: 1 / -1;
    }
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .navbar .nav-link {
        margin: 0;
        font-size: 0.9rem;
    }
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f4f4f4;
}

input {
    padding: 10px;
    /* margin: 10px 0; */
    border-radius: 4px;
}

button {
    /* display: block; */
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.alt-search {
    font-size: smaller;
    
}