{% extends 'base.html' %}
{% block title %} Recipe Search {% endblock %}
{% block content %}
<h1>Recipe Search</h1>
<form method="POST">
    <div class="search-form">
        <input type="text" name="search_query" placeholder="Search Ingredients" required>
        <button type="submit">Search</button>
    </div>
</form>

<div class="search-results">
    {% if search_results %}
        <h2>Search Results:</h2>
        <!-- {% for recipe in search_results %} -->
            <!-- <div class="recipe-card"> -->
                <!-- Maybe something like url_for(recipe/recipe_id), Ill create a nice little card to place here -->
                <!-- <h3>{{ recipe.name }}</h3>  -->
            <!-- </div> -->
        <!-- {% endfor %} -->
        <p>{{search_results}}</p>
    {% endif %}
</div>
{% endblock %}